$primary: #496076;
$primaryDarken: darken( $primary, 10% );
$primaryDark: darken( $primary, 20% );
$primaryLighten: lighten( $primary, 10% );
$primaryLight: lighten( $primary, 20% );
$primaryContrast: #ddd;

$text: #212529;

$active: #99e7c3;
$activeDarken: darken( $active, 10% );
$activeDark: darken( $active, 25% );
$activeLight: lighten( $active, 10% );
$activeLighten: lighten( $active, 20% );
$activeContrast: #555;

$danger: #cc858f; //#cc9187;
$dangerLight: lighten($danger, 20%);
$dangerLighten: lighten($danger, 10%);
$dangerDark: darken($danger, 20%);
$dangerDarken: darken($danger, 10%);

//body {
	
	// Overwrite bootstrap and default styles
	a {
		color: $activeDarken;
		&:hover {
			color: darken($activeDarken, 10%);
		}
	}
	.active {
		color: $active;
		> * {
			color: $text;
		}
	}
	pre, blockquote {
		margin-bottom: 0;
	}
	
	// overwrite bootstrap buttons
	.btn-primary {
		background-color: $active;
		border-color: $active;
		color: $activeContrast;
		&:hover, &:active, &:focus,
		&:not(:disabled):not(.disabled):active {
			background-color: darken($active, 10%);
			border-color: darken($active, 10%);
		}
	}
	.btn-primary.disabled, .btn-primary:disabled {
		background-color: $activeLight;
		border-color: $activeLight;
		color: lighten($activeContrast, 10%);
	}
	.btn-outline-primary {
		background-color: transparent;
		border-color: $activeDark;
		color: $activeDark;
		&:hover, &:active, &:focus,
		&:not(:disabled):not(.disabled):active {
			background-color: $activeDarken;
			border-color: $activeDarken;
			color: #fff;
		}
	}
	.btn-danger {
		background-color: $dangerDarken;
		border-color: $dangerDarken;
		color: #fff;
		&:hover, &:active, &:focus,
		&:not(:disabled):not(.disabled):active {
			background-color: $dangerDark;
			border-color: $dangerDark;
		}
	}
	.btn-outline-danger {
		background-color: transparent;
		border-color: $danger;
		color: $danger;
		&:hover, &:active, &:focus,
		&:not(:disabled):not(.disabled):active {
			background-color: $danger;
			border-color: $danger;
			color: #fff;
		}
	}
	
	
	// overwrite forms
	.form-check {
		padding-left: 1.5em;
		
		.form-check-input {
			margin-top: .4rem;
			margin-left: -1.5rem;
			transform: scale(1.25);
		}
	}
	.form-check-inline {
		align-items: baseline;
		.form-check-input {
			position: relative;
			margin-right: 0.5rem;
		}
	}
	
	
	
	// overwrite navigation
	.navbar {
		padding: 0;
		background-color: transparent !important;
		width: 100%;
		
		.navbar-nav .nav-link a{
			color: rgba(255,255,255,.5);
			&:hover {
				color: rgba(255,255,255,.75);
			}
			&.active {
				color: #fff;
			}
		}
	}
	
	
	// overwrite bootstrap alerts
	.alert {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.alert-primary {
		color: $activeDark;
		background-color: $activeLight;
		border-color: $active;
	}
	.alert-danger {
		color: $dangerDark;
		background-color: $dangerLight;
		border-color: $danger;
	}
	
	// overwrite bootsrap tabs
	.viewTabs {
		&.nav-tabs {
			.active {
				color: $primary;
			}
			> a.disabled {
				margin: 0 5px 5px 0;
				background: $primary;
				color: $active;
				border-radius: 0;
			}
		}
		&+ .tab-content {
			padding: 10px 0 0;
		}
	}
	
	// overwrite draft.js editor 
	.editorWritingPad {
		
		&.readOnly {
			div.DraftEditor-root {
				height: calc( 100vh - 38px - (10px * 2) - (42px + 10px) - (38px + 8px) ); 
			}
		}
		div.DraftEditor-root {
			background-color: #f2f2f7;
			border: 1px solid #ddd;
			box-shadow: 0px 1px 3px 0px rgba(220,220,220,1);
			height: calc( 100vh - 38px - (10px * 2) - (42px + 10px) - 36px - (38px + 8px) ); 
			//300px; //FIXME: do proper calculation (100 - topnav - (viewpadding) - (tabs+pad) - toolbar - (savebtn+pad)
			overflow-y: scroll;
			padding: 20px;
			font-size: 18px;
			font-family: 'calibri', sans-serif;
			color: $text;
			
			&+div[class^="draftJsToolbar"] { 
				button {
					padding-top: 0;
				}
			}
		}
			
		ul, ol {
			// padding-left: 20px;
			margin-block-start: 1em;
			margin-block-end: 1em;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
			padding-inline-start: 40px;
			li {
				padding-left: 0.25em;
			}
		}
		ul {
			list-style-type: disc;
		}
		ol {
			list-style-type: decimal;
		}
	}
	
	.jumbotron {
		margin-bottom: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	// set custom scroll bar
	::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
		background-color: #F5F5F5;
		// border-radius: 10px;
	}
	::-webkit-scrollbar
	{
		width: 12px;
		background-color: #F5F5F5;
	}
	::-webkit-scrollbar-thumb
	{
		width: 10px;
		border-radius: 10px;
		background-color: $primaryLight;
	}
	
	// Grid layout
	#container {
		width: 100vw;
		height: 100vh;
		display: grid;
		grid-template-rows: 38px auto;
		grid-template-columns: auto;
		grid-template-areas:
			"topNav"
			"content";
		
		#topNav {
			grid-area: topNav;
			
			background: $primaryDarken;
			color: #FFFFFF;
			box-shadow: 0 1px 0 0 rgba(255,255,255,0.1);
			display: flex;
			align-items: center;
			padding: 0 10px;
		}
		#content {
			grid-area: content;
		}
		
		#contentInner {
			display: grid;
			grid-template-rows: auto;
			grid-template-columns: 234px auto;
			grid-template-areas: "sidebar workspace";
			overflow: hidden;
			position: relative;
			
			#sidebar {
				grid-area: sidebar;
				
				background: $primary;
				color: #FFFFFF;
				
				#sidebarInner {
					display: flex;
					flex-direction: column;
					min-height: 0;
					min-width: 0;
					height: calc(100vh - 38px);
				}
				
				#sidebarHeader {
				}
				
				#sidebarContent {
					height: 100%;
					min-height: 0;
					width: 100%;
					overflow-y: auto;
					padding: 10px;
					
					&::-webkit-scrollbar-track {
						background: $primary;
					}
					&::-webkit-scrollbar-thumb {
						background-color: $primaryDarken;
					}
				}
			}
			
			#workspace {
				grid-area: workspace;
				display: flex;
				flex-direction: column;
				height: calc(100vh - 38px);
				
				#header {
					
				}
				
				#view {
					padding: 10px;
					height: auto;
					min-height: 0;
					max-height: 100%;
					overflow-y: auto;
					overflow-x: hidden;
				}
			}
		}
	}
	
	
	// custom styles
	#list {
		li {
			padding-bottom: 5px; 
			&:hover {
				cursor: pointer;
			}
		}
	}
	#listAdd {
		
	}
	#listFilter {
		.filter {
			position: relative;
			margin-bottom: 10px;
			
			.filterBtn {
				display: inline-block;
				border: 1px solid $primaryLighten;
				padding: 5px 10px;
				
				span {
					margin-left: 0.5rem;
				}
			}
			.filterBox {
				background-color: $primaryLight;
				border: 1px solid $primaryLighten;
				position: absolute;
				padding: 5px 20px;
				width: 100%;
				
				.form-group {
					margin: 5px 0;
				}
			}
		}
	}
	
//}

// Small breakpoint
@media (max-width: 767px) {
	body {
		#writingContainer {
			#writingContent {
				grid-template-columns: 0 auto;
			}
			
			#sidebar {
				display: none;
			}
		}
	}
	
	
	
}
	
